@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/roboto.woff2') format('woff2');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}