// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use "fonts.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Default font: Roboto https://fonts.google.com/specimen/Roboto 
$custom-typography: mat.define-typography-config(
  $font-family: "Roboto, sans-serif",
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bgc_frontend-primary: mat.define-palette(mat.$indigo-palette);
$bgc_frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$background-color: #3F51B5;

// The warn palette is optional (defaults to red).
$bgc_frontend-warn: mat.define-palette(mat.$red-palette);

$bgc_frontend-theme: mat.define-light-theme((
  color: (
    primary: $bgc_frontend-primary,
    accent: $bgc_frontend-accent,
    warn: $bgc_frontend-warn,
  ),
  typography: $custom-typography,
  density: 0,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bgc_frontend-theme);
@include mat.all-component-typographies($custom-typography);

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./theme.scss";

/* You can add global styles to this file, and also import other style files */
body, html {
  @apply w-full h-full
}

html, body {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: Roboto, system-ui;
}

.mat-mdc-tab-body-wrapper {
  @apply h-full;
}

.mat-button-toggle-label-content {
  @apply text-left
}
